<div class="col-xs-offset-2 col-xs-7">
    <h3><strong>Edit Student</strong></h3>
    <form (ngSubmit)="onSubmit()" #studentEditForm='ngForm'>
        <div id="user-data" ngModelGroup="studentData" #userData="ngModelGroup">
            <div class="form-group">
                <label for="username">Name</label>
                <input type="text" style="width: 200px;" id="username" class="form-control" [ngModel]="getStudent.name" name="username" required>
            </div>
            <div class="form-group">
                <label for="std">Class</label>
                <input type="text" style="width: 50px;" id="std" class="form-control" [ngModel]="getStudent.std" name="std"  required>
            </div>
            <div style="position:relative;bottom:74px;left:60px;" class="form-group">
                <label for="status">Status</label>
                <input type="text" style="width: 70px;" id="status" class="form-control" [ngModel]="getStudent.status" name="status"  required>
            </div>
            <div style="position:relative;bottom:74px;" class="form-group">
                <div class="radio" *ngFor="let gender of genders">
                    <label>
                        <input type="radio" name="gender" [ngModel]="getStudent.gender" [value]="gender" required><strong>{{gender}}</strong>
                    </label>
                </div>
            </div>
            <button  style="position:relative;bottom:64px;" class="btn btn-primary" type="submit"><strong>Submit</strong></button>
            <div class="alignCancel">
                <button type="button" style="background-color: lightgrey;color:#337ab7;"class="btn btn-primary" (click)="cancel()"><strong>Cancel</strong></button>
            </div>
            
        </div>
    </form>
    <div class="row" *ngIf="submitted">
        <div style="position: relative;bottom:70px;right:10px;"  class="col-xs-12">
            <p><strong>Student updated successfully!!!</strong></p>
        </div>
    </div>
    <div class="row" *ngIf="cancelled">
        <div style="position: relative;bottom:70px;right:10px;"  class="col-xs-12">
            <p><strong>Student update cancelled.</strong></p>
        </div>
    </div>
</div>
