<div class="col-xs-offset-2 col-xs-7">
  <h3><strong>Add Student</strong></h3>
  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <div id="user-data" ngModelGroup="studentData" #userData="ngModelGroup">
      <div class="form-group">
        <label for="username">Name</label>
        <input
          style="width: 200px;"
          type="text"
          id="username"
          class="form-control"
          ngModel
          name="username"
          required
        />
      </div>
      <div style="width: 65px;" class="form-group">
        <label for="std">Class</label>
        <select class="form-control" ngModel [value]="std" name="std">
          <option *ngFor="let std of stds">
            {{ std }}
          </option>
        </select>
      </div>
      <div
        style="position: relative; bottom: 74px; left: 80px; width: 80px;"
        class="form-group"
      >
        <label>Status</label>
        <select class="form-control" ngModel [value]="status" name="status">
          <option
            [ngClass]="{ passed: status === 'Pass', failed: status === 'Fail' }"
            *ngFor="let status of statuses"
          >
            {{ status }}
          </option>
        </select>
      </div>
      <div style="position: relative; bottom: 74px;" class="form-group">
        <span class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              name="gender"
              ngModel
              [value]="gender"
              required
            /><strong>{{ gender }}</strong>
          </label>
        </span>
      </div>
      <button
        style="position: relative; bottom: 64px;"
        class="btn btn-primary"
        type="submit"
        [disabled]="!f.valid"
      >
        <strong>Submit</strong>
      </button>
      <div class="alignCancel">
        <button
          style="background-color: lightgrey; color: #337ab7;"
          type="button"
          class="btn btn-primary"
          (click)="cancel()"
        >
          <strong>Cancel</strong>
        </button>
      </div>
    </div>
  </form>
</div>
